JWT_SECRET=troque_por_uma_string_longa_e_aleatoria

CLIENT_0_USER=fernando@fc.arq.br
CLIENT_0_PASS=1910
CLIENT_0_SCRIPT_URL=https://script.google.com/macros/s/SEU_SCRIPT_ID/exec

# Adicionar novos clientes:
# CLIENT_1_USER=cliente2@email.com
# CLIENT_1_PASS=senha123
# CLIENT_1_SCRIPT_URL=https://script.google.com/...
